
@{
    ViewBag.Title = "Wykresy";
}

<script src="~/Scripts/Chart.js"></script>

<button id="someBtn" class="btn btn-primary" onfocus="showNewActivityAlert()">
    showAlert
</button>

      <div id="newActivityAlert" class="alert alert-primary collapse">
          <a href="./charts"><img src="~/Content/Images/reload.png" style="width:4%" /></a>
              <a id="linkClose" href="#" onclick="closeNewActivityAlert()" class="close">&times;</a>
              <strong>Info:  </strong> Nowa aktywność na Twojej tablicy

</div>
      <a href="./charts"><img id="newActivityImg" src="~/Content/Images/reload.png"></a>


<div id="charts" class="siteContent chartsPage">
    <div class="row ">
        <div class="col chart" style="max-height:80% !important;">
            <canvas id="lineChart" class=""></canvas>
            <script>
                new Chart(document.getElementById("lineChart"), {
                    type: 'line',
                    data: {
                        labels: ["Styczeń", "Luty", "Marzec", "Kwiecień", "Maj", "Czerwiec", "Lipiec", "Sierpień", "Wrzesień", "Październik", "Listopad", "Grudzień"],
                        datasets: [{
                            data: [2, 1, 5, 4, 6, 7, 5, 2, 4, 8, 3, 7],
                            label: "Mariusz Konopka",
                            borderColor: "#3e95cd",
                            fill: false
                        }, {
                            data: [4, 6, 7, 8, 5, 4, 6, 8, 3, 5, 3, 2],
                            label: "Andrzej Grzewczak",
                            borderColor: "#8e5ea2",
                            fill: false
                        }, {
                            data: [2, 2, 3, 2, 3, 4, 2, 5, 1, 6, 1, 2],
                            label: "Jan Próbnik",
                            borderColor: "#3cba9f",
                            fill: false
                        }
                        ]
                    },
                    options: {
                        title: {
                            responsive: true,
                            display: true,
                            text: 'Ilość zadań przypisanych do osób dla procesu lakierowania w poszczególnych miesiącach'
                        }
                    }
                });
            </script>
        </div>
    </div>
    <div class="row">
        <div class="col chart">
            <canvas id="pieChart"></canvas>
            <script>
                new Chart(document.getElementById("pieChart"), {
                    type: 'pie',
                    data: {
                        labels: ["Cięcie", "Szlifowanie", "Farbowanie", "Lakierowanie", "Budowanie konstrukcji"],
                        datasets: [{
                            label: "Population (millions)",
                            backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                            data: [28, 32, 12, 22, 43]
                        }]
                    },
                    options: {
                        responsive: true,
                        title: {
                            display: true,
                            text: 'Ilość zadań w każdym procesie'
                        }
                    }
                });
            </script>
        </div>
    </div>

    <div class="row">
        <div class="col chart">
            <canvas id="barChartHorizontal"></canvas>
            <script>
                new Chart(document.getElementById("barChartHorizontal"), {
                    type: 'horizontalBar',
                    data: {
                        labels: ["Cięcie", "Szlifowanie", "Farbowanie", "Lakierowanie", "Budowanie konstrukcji"],
                        datasets: [
                            {
                                label: "Ilość obób w dziale",
                                backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                                data: [5, 10, 7, 3, 10]
                            }
                        ]
                    },
                    options: {
                        responsive: true,
                        legend: { display: false },
                        title: {
                            display: true,
                            text: 'Ilość osób przypisanych do danych procesów'
                        }
                    }
                });
            </script>
        </div>
    </div>

    <div class="row">
        <div class="col chart">
            <canvas id="doughnutChart"></canvas>

            <script>
                new Chart(document.getElementById("doughnutChart"), {
                    type: 'doughnut',
                    data: {
                        labels: ["Cięcie", "Szlifowanie", "Farbowanie", "Lakierowanie", "Budowanie konstrukcji"],
                        datasets: [
                            {
                                label: "Zamówienie",
                                backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                                data: [2, 3, 2, 2, 5]
                            }
                        ]
                    },
                    options: {
                        responsive: true,
                        title: {
                            display: true,
                            text: 'Średnia ilość czasu spędzonego w danym procesie'
                        }
                    }
                });
            </script>
        </div>
    </div>
</div>
<script src="~/Scripts/Chart.js"></script>