html, body {
    margin:0;
    padding:0;
}
.siteContent {
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2%;
    background-color: #f2f2f2;
    border: 2px solid #c0c0c0;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
}


#carouselExampleControls {
    width: 60%;
    margin: 0 auto;
}

ul {
    list-style-image: url('Images/listStyle.png');
}
h4 {
    margin-top: 1%;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
}
.nav-item {
    color: #39b7ee;
}
.navbar-dark .navbar-nav .nav-link {
    color: #415bec;
    text-shadow:1px 1px 4px black;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #85c5ff;
    text-shadow: 1px 1px 4px black;
}
.navbar-dark .navbar-nav .nav-link:active {
    color: #85c5ff;
}

#FAQ{
    text-align:justify;
}
.FAQHeader {
    text-align:center;
    margin-top: 3%;

}
.FAQHeaderRight {
    text-align: right;
    margin-top: 3%;
    margin-right: 5%;
}

.FAQimg{
    width:50%;
}
@media only screen and (max-width: 1500px) {
    .FAQimg {
        display: none;
    }
}
#FAQ > .row{
    margin:4%;
}

.container{
    max-width:1280px;
}
.progress-bar {
    margin: auto;
    border: 1px solid black;
}