
@{
    ViewBag.Title = "O Process Tracing";
}
<div id="FAQ" class="siteContent">

    <div class="row">
        <div class="col-9">
            <h1 class="FAQHeader">Dla kogo ta aplikacja?</h1>
            <p class="FAQtext">
                Aplikacja przeznaczona dla każdego korzystającego już z aplikacji Trello. 
            </p>
        </div>
        <div class="col-3">
            <img class="FAQimg" src="~/Content/Images/blue-question-mark-icon.png" />
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <img class="FAQimg" src="~/Content/Images/user.png" />
        </div>
        <div class="col-9">
            <h1 class="FAQHeader">Jak zacząć?</h1>
            <p class="FAQtext">
                Zaloguj się lub poproś administratora o dostęp.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-9">
            <h1 class="FAQHeader">Ile kosztuje korzystanie z tej aplikacji?</h1>
            <p class="FAQtext">
                Korzystanie ze wszystkich możliwości aplikacji jest darmowe i zawsze takie będzie!
            </p>

        </div>
        <div class="col-3">
            <img class="FAQimg" src="~/Content/Images/money.png" />
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <img class="FAQimg" src="~/Content/Images/why.png" />
        </div>
        <div class="col-9">
            <h1 class="FAQHeader">Po co korzystać?</h1>
            <p class="FAQtext">
                Aplikacja daje czytelny, graficzny przegląd pracy w Trello. Zestawienia ilości zadań, pracy użytkowników, ilości pracy w czasie. Dzięki analizie danych możesz usprawnić pracę zespołu.
            </p>
            
        </div>
    </div>
</div>
